header{
    alignment: center;
    margin: auto;
    height: 100px;
    text-align: center;
}
img{
    width: 100px;
    float: left;
    display: inline-block;
    margin-left: 2em;
}
span{
    font-weight: bolder;
    font-size: larger;
}
.box{
    width: 800px;
    margin: auto;
}