body{
    background: #f6f6f6;
}

header{
    position: static;
    margin: auto;
    height: 100px;
    text-align: center;
    background-image: url(../img/headshot.jpg);
    background-repeat: no-repeat;
    background-size: 100px;
}

span{
    font-weight: bolder;
    font-size: larger;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
    grid-column: 1;
    grid-row: 1;
    width: 1fr;
}
.two {
    grid-column: 2;
    grid-row: 1;
    width: 2fr;
}
.three {
    grid-column: 3;
    grid-row: 1;
    width: 1fr
}

.box {
    margin: auto;
    border: 1px solid lightgray;
    margin-top: -8px;
    padding: 1em;
    font-family: sans-serif;
    box-shadow: 5px 2px 2px gray ;
    box-sizing: border-box;
    height: auto;
}

.form{
    margin-top: -8px;
    margin-right: 2px;
    border: 2px solid lightgray;
    height: 245px;
    text-align: center;
    box-shadow: 5px 2px 2px gray;
    transition: height .1s;
    background-color: white;
}

.form button{
    font-weight: bold;
    background-color: forestgreen;
}

.form:hover{
    height: 495px;
}

.poof{
    display: none;
}

.trick:hover .poof{
    display: inline-block;
}

textarea{
    resize: none;
    margin-bottom: 1em;
    width: 180px;
    height: 100px;
}

h4{
    text-decoration: underline;
}

.contact{
    text-align: left;
}

.texas{
    width: 18px
}

.parent{
    position: relative;
    opacity: 1;
    margin-left: 2px;
    margin-top: -8px
}

.starsStripes{
    height: 249px;
    position: absolute;
    box-shadow: 5px 2px 2px gray;
}

@keyframes armyUS {
  from {
      opacity: 0;
  }
    to {
        opacity: 1;
    }
}

.armyFlag{
    height: 249px;
    position: relative;
    animation-duration: 8s;
    animation-name: armyUS;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    box-shadow: 5px 2px 2px gray;
}

.langHead{
    text-align: left;
    top: 2px;
    margin-top: 25px;
}
.lang>p{
    text-align: center;
    width: 100px;
    border: 2px solid lightgray;
    font-weight: bold;
    background-color: lightcyan;
    box-sizing: border-box;
    height: 23px;
    overflow: hidden;
}
.htmlI{
    width: 350px;
    height: 280px;
    margin-top: 10px;
}
#htmlL{
    transition: all 3s ease-in-out;
    box-sizing: border-box;
    order: 0;
}
#htmlL:target{
    width: 25%;
    height: 362px;
    display: inline-block;
    order: -1;
    margin-left: 500px;
}

.cssI{
    width: 350px;
    height: 280px;
    margin-top: 10px;
}
#cssL{
    transition: all 3s ease-in-out;
    order: 1;
}
#cssL:target{
    margin-left: 500px;
    width: 25%;
    height: 362px;
    display: inline-block;
    order: -1;
}

.jsI{
    width: 350px;
    height: 280px;
    margin-top: 10px;
}

#jsL{
    transition: all 3s ease-in-out;
    order: 2;
}
#jsL:target{
    margin-left: 500px;
    width: 25%;
    height: 362px;
    display: inline-block;
    order: -1;
}

.jqI{
    width: 350px;
    height: 280px;
    margin-top: 10px;
}

#jqL{
    transition: all 3s ease-in-out;
    order: 3;
}
#jqL:target{
    margin-left: 500px;
    width: 25%;
    height: 362px;
    display: inline-block;
    order: -1;
}

.javaI{
    width: 350px;
    height: 280px;
    margin-top: 10px;
}

#javaL{
    transition: all 3s ease-in-out;
    order: 4;
}
#javaL:target{
    margin-left: 500px;
    width: 25%;
    height: 362px;
    display: inline-block;
    order: -1;
}

.sqlI{
    width: 350px;
    height: 280px;
    margin-top: 10px;
}

#mysqlL{
    transition: all 3s ease-in-out;
    order: 5;
}
#mysqlL:target{
    margin-left: 500px;
    width: 25%;
    height: 362px;
    display: inline-block;
    order: -1;
}

.container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 700px;
}
#bottom{
    margin: 100px 0;
    text-align: center;
}

