#main{
    background: linear-gradient( to top, #a9a9a9, #ffffff);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;

    border: black solid 3px;
}

body{
    margin:0;
}

h1{
    margin: 0 0 5px 0;
}

#header-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 5px 8px;
    border: white solid 2px;
}

#header{
    background-color: darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
}
#nav-bar{
    width: 100%;
    display: flex;
}
#nav{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 16px 8px;
}




#grindPoint{

    margin-top: 295px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 95vh;
    justify-content: center;


}

.grind{
    text-align: center;
    width: 450px;
    border: black solid 2px;
    position: center;
}
.point{
    text-align: center;
    width: 450px;
    border: black solid 2px;
    position: center;
}



.forSale>h2{
    background-color: #dfdfdf;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px;
    border-bottom: 2px solid black;
    text-align: center;
    margin: 0;
}

.razorCard{
    width: 95%;
    border-top: 1px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: whitesmoke;
    margin-top: 5px;
}

.razor{
    display: flex;
    justify-content: space-evenly;
}

.razors{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 215px;
    border: black solid 2px;
    background-color: white;
    margin: 5px 0;
}

.grind>img{
    width: 450px;
    margin-bottom: 5px;
}

.leftCard{
    height: 270px;
    width: 450px;
    margin: 5px;
}

.rightCard{
    width: 450px;
    margin-top: 20px;
}

li>a{
    text-decoration: none;
    color: black;
}