td{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    color: black;
}
tr{
    border-collapse: collapse;
    margin: 0;
}
table{
    border-collapse: collapse;
    margin: 0;
}
#html{
    background-color: #e56060;
    width: 950px;
}
form{
    width: 950px;
}
.button{
    width: 950px;
}
img{
    width: 100px;
    height: 100px;
}